@import '../../../styles/common/00-settings/index.scss';
@import '../../../styles/common/01-generic/index.scss';
@import '../../../styles/common/02-component/index.scss';


.user-login {
  &__avatar {
    background: white;
    padding: 5px 5px 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    cursor: pointer;
  }

  &__card {
    &.ant-card {
      .ant-card-meta-title {
        font-size: $hrms-font-size-m;
        line-height: $hrms-line-height-m;
      }

      .ant-card-meta-description {
        margin-bottom: 20px;
      }
    }

    .ant-card-body {
      padding: 16px;
    }

    .user-card-mail {
      font-size: $hrms-font-size-s;
      line-height: $hrms-line-height-xs;
      font-weight: $hrms-font-weight-400;
      color: #000000cc;
      margin-bottom: 12px;
    }

    .user-card-role {
      padding: 1px 12px;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid;
      //margin-top: 10px;
    }

    .logout-button {
      height: unset;
      width: fit-content;
      padding: 7px 12px;
      border: unset;
      //border-radius: 50%;
      border-radius: 8px;
      color: white;
      cursor: pointer;
      background-color: #ff4141;
      margin-top: 20px;

      &:hover {
        background-color: rgba(255, 65, 65, 0.9) !important;
        transition: all 250ms ease-in-out;
      }
    }

    &-link {
      display: block;
      padding: 8px 0;
      border-top: 1px solid $hrms-gray-20;
      color: #000000cc;

      > p {
        display: inline-block;
        margin-left: 12px;
      }

      &:hover {
        //background-color: $hrms-blue-20;
        color: $hrms-blue-70 !important;

        svg {
          fill: $hrms-blue-70 !important;
        }
      }
    }
  }
}

.ant-popover {
  .ant-popover-inner {
    .ant-card-meta {
      margin: unset;
    }
  }
}