.holiday-list {
    margin-top: 40px;

    .ant-picker-calendar {
        max-width: 1200px;
        width: 100%;
    }


    .ant-radio-group {
        width: 130px;
    }

    .ant-select-selector {
        scroll-behavior: unset;
    }

    .ant-input {
        height: 32px;
        border-radius:  unset   !important;
        border-left: unset !important;
        // border-radius:  5px 0px 0px 5px   !important;
    }

    .ant-btn{
        border-radius:  unset   !important;
    }
    .ant-input-wrapper{
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
    }

}

