.holiday-create {
  &__tabs {
    .ant-tabs-nav-operations {
      display: none !important;

      &.ant-tabs-nav-operations-hidden {
        display: none !important;
      }
    }
  }

  &__form {
    >.ant-col {
      max-width: 33%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    .ant-form-item {
      .ant-form-item-label {
        max-width: 40%;
      }
    }

    &-submit {
      width: 100%;
      text-align: right;
      max-width: 97%;
      margin-top: 20px;

      button[type="submit"] {

      }
    }

    label{
      width:100px;
    }

    .ant-select{
      height:40px;
      text-align: left;

    }

    .ant-picker{
      width:265px;

    }

    input{
      width: 265px;
    }

    .ant-select{
      width: 265px;
    }
    //.holiday-create-form_formdata{
    //    //  display:flex;
    //    //}

    //.holiday-create-form_data{
    //  display: flex;
    //  flex-direction: column;
    //  gap: 30px;
    //
    //
    //}
  }
}