@import '../../styles/common/00-settings/index.scss';
@import '../../styles/common/01-generic/index.scss';
@import '../../styles/common/02-component/index.scss';


.hrms-dashboard {
  //max-width: 95vw;
  //margin: 40px 0 80px;
  padding: 40px;

  &__page-header {
    position: relative;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 30px !important;
    border-bottom: 1px solid $hrms-gray-20;

    &.ant-typography {
      font-size: $hrms-font-size-m;
      line-height: $hrms-line-height-m;
      margin-bottom: 30px !important;
    }

    &:after {
      content: "";
      background-color: $hrms-blue-70;
      width: 50px;
      height: 4px;
      border-radius: 6px;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }

  &__chart {
    width: 300px;
    text-align: center;

    &-section {
      display: flex;
      gap: 10px;
    }

    .hrms-dashboard__page-header.ant-typography {
      margin-bottom: unset !important;
    }
  }

  &__chart-and-links {
    @include flex-col-align-start;
    gap: 40px;
  }

  &__quick-links {
    @include flex-row;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;

    &__section {
      width: fit-content;
    }
  }

  &__card {
    @include poppins-s;
    text-align: left;
    min-width: 400px;
    border: 1px solid $hrms-gray-20;

    .anticon {
      svg {
        font-size: $hrms-font-size-ml;
      }
    }

    &-links {
      @include flex-col-align-start;
      gap: 10px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 20px;
    }

    &-link {
      //color: $hrms-blue-button-primary;

      &:hover {
        //color: $hrms-blue-80;
        //cursor: pointer;
      }
    }

    &-header {
      align-items: center;

      &-title {
        margin-bottom: unset !important;
      }
    }

    &.animated {
      min-width: 110px;
      max-width: 110px;
      cursor: pointer;
      text-align: center;
      transition: all .25s ease;

      &:hover {
        transform: translateY(-2px) scale(1.02);
        //box-shadow: 0 5px 12px rgba(126,142,177,.2);
        box-shadow: 0 2px 10px 0 $hrms-blue-30;
        border-color: $hrms-blue-70;
        color: $hrms-blue-70;

        svg {
          fill: #1077DA;
        }
      }

      .ant-card-body {
        padding: 16px;
      }

      .ant-divider {
        margin: 12px 0;
      }

      .anticon {
        justify-content: center;

        svg {
          font-size: $hrms-font-size-ml;
        }
      }
    }
  }

  &__report {
    &-links {
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
    }

    .anticon {
      padding: 8px;
      background-color: #FAF1E1;
      //background-color: $hrms-blue-70;
      border-radius: 50%;

      svg {
        //fill: $hrms-white;
      }
    }
  }
}