@import '../../../styles/common/00-settings/index.scss';

.ant-layout-content {
    line-height: unset !important;
    //min-height: unset !important;
}

.employee-detail-container {
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    // height: 90%;
    // width: 90%;
    margin: 7px 45px;
    display: flex;
    flex-direction: column;

    .ant-space-item:first-child {
        width: unset;
    }

    .sections {
        margin: 0px;
        padding: 0px;
        text-align: left;
        // width: 90%;
        // margin: auto;

        .personal-display {
            display: flex !important;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            margin-top: 20px;
        }
    }

    .about {
        background-color: #edf0f0;
        display: flex;
        justify-content: left;
        gap: 20px;

        // flex-direction: column;
        .fixed-box {
            width: 360px;
            border: 2px ridge;
            border-radius: 10px;
            min-height: 300px;
            background-color: #f8ffff;
            margin: 10px 0px;
        }

        // margin-top: 65px;
    }

    .location-logo {
        height: 14px;
        width: 14px;
    }
}

.name {
    font-size: 35px;
    font-weight: 800;
    // margin: 20px
}


.details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .detail-column {
        display: flex;
        flex-direction: column;
    }

    span {
        padding: 10px;
    }
}

.root-page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px;
}

.employee-image {
    width: 200px;
    height: 220px;
}

.family-detail {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .family-detail-box {
        border: "1px";
        display: "flex";
        flex-direction: "column";

    }
}

.family-detail-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    // border: 2px;
    // border-style: ridge;

    span {
        padding: 5px;
    }
}

// .previous-experience-detail-container {}


.previous-experience-detail {
    display: flex;
    flex-direction: column;
    justify-content: "space-around",
}

.permanent-address {
    display: "flex";
    flex-direction: "column";
    justify-content: "space-around !import",

}

.detail-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;

    span {
        padding: 5px;
    }


}

.logo {
    width: 24px;
    height: 24px
}

.previous-experience-detail-container{
    display: flex;
    flex-direction: column;
}


:where(.css-dev-only-do-not-override-dkbvqv).ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 10px 0;
}

.permanent-address-container{
    background: $hrms-blue-50;
}

