@import "src/styles/common/00-settings/index";

.enum-create-section {

  .enum-card {
    &.user-type {
      background: $hrms-blue-10;
      border: 1px solid $hrms-blue-30;

      .ant-card-head {
        border-bottom: 1px solid $hrms-blue-30;
      }
    }

    &.designation {
      background: $hrms-color-30;
      border: 1px solid $hrms-color-100;

      .ant-card-head {
        border-bottom: 1px solid $hrms-color-100;
        text-align: center;
      }
      &.active{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      }
    }

    &.qualification {
      background: $hrms-color-10;
      border: 1px solid $hrms-green-40;

      .ant-card-head {
        border-bottom: 1px solid $hrms-green-40;
        text-align: center;
      }

      &.active{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      }
    }
  }

  .ant-card-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  .enum-create-card{
    .ant-row{
      justify-content: unset;
    }


  }
}
.data-table.data-table-with-enums{
  margin:0 auto 40px;
  display:flex;
  flex-direction: column;
  gap:30px;


  button{
    width:5%;
    margin-left: auto;
    border-color:#1677FF;
    background:#E6F4FF !important;
    &:active{
      background:#E6F4FF;
    }
    &:hover{
      background: #E6F4FF;
    }

    .anticon{
      font-size: 14px;
      margin-right: unset;
    }
  }
  .anticon{
    font-size:18px;
    margin-right:10px;
    color:#1677FF;

  }
  .ant-select-arrow{
    .anticon{
      font-size: unset;
      margin-right: unset;
    }

  }

}
.data-table.enum-create-section {
  margin: 40px auto 20px;
}
.editableInput{
  width: 50%;
  height: 50%;
  >.ant-select-selector{
    height:50% !important;
  }
}