.demo-logo-vertical {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside.ant-layout-sider {
  position: fixed !important;
  top: 64px;
  left: 0;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%) !important;
}

aside {
  //position: absolute !important;
  //top: 0;
  //bottom: 0;
  //left: 0;
  z-index: 5;
  flex: 0 0 80px !important;
  width: 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  height: 100%;

  &:hover {
    flex: 0 0 200px !important;
    width: 200px !important;
    max-width: 200px !important;
    min-width: 200px !important;
  }
}

.ant-menu-dark, .ant-menu-dark>.ant-menu {
  background: unset !important;
}

.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: unset !important;
}

//.ant-layout-sider-children {
//
//}

.ant-layout-sider-trigger {
  background: unset !important;
  width: unset !important;
  display: none;
}

.ant-layout.ant-layout-has-sider {
  .ant-layout-sider-trigger {
    position: relative;
  }
}

.demo-logo-vertical {
  img {
    width: 64px;
    height: 64px;
  }
}


.ant-menu-dark .ant-menu-item-selected {

}

.side-navbar {
  .ant-menu-submenu {
    .ant-menu-item {
      align-items: unset;
      padding: 0 24px 0 34px !important;

      &-selected {
        background-color: unset;
      }
    }
  }

  &__button {
    cursor: pointer;
    width: 100%;
  }
}