// LINEAR GRADIENTS --->
$hrms-linear-gradient-01: linear-gradient(45deg, rgba(#09AFE8,0.5) 0%, rgba(#29F499,0.8) 100%);
$hrms-linear-gradient-02: linear-gradient(45deg, rgba(#6D80FE,0.5) 0%, rgba(#23D2FD,0.8) 100%);
$hrms-linear-gradient-03: linear-gradient(45deg, rgba(#707CFF,0.5) 0%, rgba(#FA81E8,0.8) 100%);
$hrms-linear-gradient-04: linear-gradient(135deg, #5FA4E6 25%, #665DCD 40%);
$hrms-linear-gradient-05: linear-gradient(to right, skyblue,#ECA5D8);
$hrms-linear-gradient-06: linear-gradient(180deg, #0dbb76f1 0%, #a1bb5010 100%);
$hrms-linear-gradient-07: linear-gradient(180deg, #dbb76f 0%, #a7d94c 100%);
$hrms-linear-gradient-08: linear-gradient(180deg, #dbb76f 0%, #f00a5b 100%);
$hrms-linear-gradient-09: linear-gradient(90deg,#0565ff 20%,#d341a5 40%,#d341a5 60%,#0565ff 80%);


@mixin text-linear-gradient {
  background: linear-gradient(90deg,#0565ff 20%,#d341a5 40%,#d341a5 60%,#0565ff 80%);
  //background-clip: text;
  background-size: 200% auto;
  color: #0565ff;
  //text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


// BOX SHADOWS --->
$hrms-box-shadow-01: 0 5px 20px rgba(#29F499, 0.5);
$hrms-box-shadow-02: 0 5px 20px rgba(#23D2FD, 0.5);
$hrms-box-shadow-03: 0 5px 20px rgba(#FA81E8, 0.5);


// WHITE SHADES
$hrms-white: #FFFFFF;
$hrms-white-10: #FBFBFD;
$hrms-white-20: #F5F5F5;
$hrms-white-30: #F6F7F9;


// GRAY SHADES
$hrms-gray-10: #F0F0F0;
$hrms-gray-20: #E9E9E9;
$hrms-gray-30: #D1D1D1;
$hrms-gray-40: #BFBFBF;
$hrms-gray-50: #6B727A;


// BLACK SHADES
$hrms-black-10: #3F3321;
$hrms-black-20: #121C42;
$hrms-black-30: #000000;


// BLUE SHADES
$hrms-blue-10: #F0F5FF;
$hrms-blue-20: #D9F2F7; //card
$hrms-blue-30: #CCDEFF;
$hrms-blue-40: #ADC6FF;
$hrms-blue-50: #5FA4E6;
$hrms-blue-60: #1F6CF9;
$hrms-blue-70: #1F6CF9;
$hrms-blue-80: #1077DA;
$hrms-blue-90: #1D39C4;
$hrms-blue-button-primary: #0077ff;


// PURPLE SHADES
$hrms-purple-10: #EEECFF; //card
$hrms-purple-20: #8C77EC;
$hrms-purple-30: #665DCD;


// GREEN SHADES
$hrms-green-10: #f6ffed;
$hrms-green-20: #E0F8F2; //card
$hrms-green-30: #C8F1D4;
$hrms-green-40: #B9DBCF;
$hrms-green-50: #03CC65;
$hrms-green-60: #02C27F;
$hrms-green-70: #389E0D;


// RED SHADES
$hrms-red-10: #ff9596;
$hrms-red-20: #FF4D4F;
$hrms-red-30: #ED3F3F;


// PINK SHADES
$hrms-pink-10: #FFF0F6;
$hrms-pink-20: #FFADD2;
$hrms-pink-30: #FA81E8;
$hrms-pink-40: #FF6CAE;
$hrms-pink-50: #E44C7D;
$hrms-pink-60: #C41D7F;


// YELLOW SHADES
$hrms-yellow-10: #FFF5D7;
$hrms-yellow-20: #FFF3CC;
$hrms-yellow-30: #FEE685;
$hrms-yellow-40: #FFE082;
$hrms-yellow-50: #FFC501;


// CARDS BG
$hrms-cards-bg-10: #FAEDED;
$hrms-cards-bg-20: #EEECFF;
$hrms-cards-bg-30: #FDF3EA;
$hrms-cards-bg-40: #E0F8F2;
$hrms-cards-bg-50: #D9F2F7;


$hrms-color-10: #DEF2EB;
$hrms-color-20: #FCEFEC;
$hrms-color-30: #FFF5D7;
$hrms-color-40: #F7E6FF;
$hrms-color-50: #F0F5F2;
$hrms-color-60: #FADFDA;
$hrms-color-70: #5FBEA0;
$hrms-color-80: #FF9902;
$hrms-color-90: #E196FF;
$hrms-color-100: #FFE082;



//background: #e8f0fe;
//background: #e8f0fe80;

//background-color: transparent;
//background-image: linear-gradient(180deg,var(--e-global-color-0dbb76f) 0%,var(--e-global-color-f00a50b) 100%);
//opacity: .04;
//transition: background .3s,border-radius .3s,opacity .3s;