// LINEAR GRADIENTS --->
$hrms-linear-gradient-01: linear-gradient(45deg, rgba(#09AFE8,0.5) 0%, rgba(#29F499,0.8) 100%);
$hrms-linear-gradient-02: linear-gradient(45deg, rgba(#6D80FE,0.5) 0%, rgba(#23D2FD,0.8) 100%);
$hrms-linear-gradient-03: linear-gradient(45deg, rgba(#707CFF,0.5) 0%, rgba(#FA81E8,0.8) 100%);
$hrms-linear-gradient-04: linear-gradient(135deg, #5FA4E6 25%, #665DCD 40%);
$hrms-linear-gradient-05: linear-gradient(to right, skyblue,#ECA5D8);


// BOX SHADOWS --->
$hrms-box-shadow-01: 0 5px 20px rgba(#29F499, 0.5);
$hrms-box-shadow-02: 0 5px 20px rgba(#23D2FD, 0.5);
$hrms-box-shadow-03: 0 5px 20px rgba(#FA81E8, 0.5);


// WHITE SHADES
$hrms-white: #FFFFFF;
$hrms-white-10: #FBFBFD;
$hrms-white-20: #F5F5F5;


// GRAY SHADES
$hrms-gray-10: #F0F0F0;
$hrms-gray-20: #E9E9E9;
$hrms-gray-30: #D1D1D1;
$hrms-gray-40: #BFBFBF;
$hrms-gray-50: #6B727A;


// BLUE SHADES
$hrms-blue-10: #E7EFFF;
$hrms-blue-20: #CCDEFF;
$hrms-blue-30: #1677FF33;
$hrms-blue-40: #9CBEFF;
$hrms-blue-50: #5FA4E6;
$hrms-blue-60: #1F6CF9;
$hrms-blue-70: #1F6CF9;
$hrms-blue-80: #1077DA;


// PURPLE SHADES
$hrms-purple-10: #665DCD;
$hrms-purple-10: #665DCD;


// GREEN SHADES
$hrms-green-10: #DFF6DD;
$hrms-green-20: #D0EBE1;
$hrms-green-30: #C8F1D4;
$hrms-green-40: #29F499;


// RED SHADES
$hrms-red-10: #ff9596;
$hrms-red-20: #FF4D4F;
$hrms-red-30: #ED3F3F;


// PINK SHADES
$hrms-pink-10: #FFCEF4;
$hrms-pink-20: #FA81E8;
$hrms-pink-30: #FF88BE;
$hrms-pink-40: #FF6CAE;
$hrms-pink-50: #E44C7D;