// BREAKPOINTS
$hrms-breakpoint-s: 0;
$hrms-breakpoint-m: 768px;
$hrms-breakpoint-l: 992px;
$hrms-breakpoint-ml: 1024px;
$hrms-breakpoint-xl: 1440px;


// WIDTH
$hrms-width-full: 100%;
$hrms-width-half: 50%;
$hrms-width-threequarter: 75%;
$hrms-width-quarter: 25%;


// HEIGHT
$hrms-height-full: 100%;
$hrms-height-half: 50%;
$hrms-height-threequarter: 75%;
$hrms-height-quarter: 25%;