.employee-search {
    max-width: 85vw;
    margin: 40px 60px 40px auto;

    .title-heading{
        color: black;
        padding:  20px 5px;
        text-align: center;
    }

    .ant-picker {
        width: 100%;
    }
}
