@import 'styles/common/00-settings/index.scss';
@import 'styles/common/01-generic/index.scss';


.App {
  display: flex;
  text-align: center;
  min-height: 100vh;
  position: relative;

  .Toastify__toast-container {
    width: unset;
    min-width: 300px;
  }

  .ant-layout {
    //background: unset;
    background: $hrms-white-30;

    &.with-background {
      //background: $hrms-white-10;
      //background: #e8f0fe80;
      height: 100%;
      padding: 40px 40px 20px;
    }

    .ant-select-multiple {
      .ant-select-selection-item {
        &[title="ADMIN"] {
          @include admin-tag;
        }

        &[title="HR"] {
          @include hr-tag;
        }

        &[title="EMPLOYEE"] {
          @include employee-tag;
        }
      }
    }
  }
}

.data-table {
  max-width: 95vw;
  width: 100%;
  margin: 0 auto;
  padding: 24px 40px;
  background-color: white;
  border-radius: 16px;
  //box-shadow: 0 0 10px $hrms-gray-10;
  //box-shadow: 0 0 20px 0 #0000001A;
  box-shadow: 0 0 20px 0 $hrms-blue-30;
  //border: 1px solid $hrms-gray-20;
  border: 1px solid $hrms-blue-30;
}

.ant-page-header {
  padding: 0;

  .ant-page-header-heading-left {
    margin-block: unset;
  }

  .ant-page-header-heading-title {
    margin-inline-end: unset;
  }
}

.ant-divider {
  &.ant-divider-horizontal.ant-divider-with-text {
    margin: 0 0 30px;

    &:before, &:after {
      border-block-start-color: #d8d8d8;
    }
  }
}

.employee-create-inputs .ant-input-affix-wrapper {
  padding: 0 10px;
  border-left: 5px solid #1677ff !important;

  &.ant-input-affix-wrapper-status-error {
    border-left: 5px solid #ff4d4f !important;
  }

  .ant-input {
    border-left: 0!important;
  }
}

// ANTD Steps after successfull finish fields
.ant-steps {
  .ant-steps-item-finish {
    .ant-steps-item-icon {
      background-color: #52c41a;
      border-color: #52c41a;
    }

    .anticon svg {
      fill: white;
    }

    >.ant-steps-item-container {
      >.ant-steps-item-tail::after {
        background-color: #52c41a;
      }

      &[role='button']:hover {
        .ant-steps-item-icon {
          border-color: #52c41a !important;
        }
      }
    }

    .ant-steps-item-title {
      color: #52c41a !important;
    }
  }
}

// Employee create Form Gender select radio button
.ant-radio-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-radio-button {
    &.ant-radio-button-checked {
      background-color: #1677ff1a;

      + span {
        color: #1677ff;
      }
    }
  }
}


.ant-select-dropdown {
  .ant-select-item-option-selected {
    font-weight: 500 !important;

    &[title="ADMIN"] {
      @include admin-tag;
    }

    &[title="HR"] {
      @include hr-tag;
    }

    &[title="EMPLOYEE"] {
      @include employee-tag;
    }
  }
}