@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/* ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');


/* Remove default margin and Box sizing rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

*::before,
*::after {
   box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-input {
  border-radius: 4px !important;
  /*border-left: 5px solid #1677ff !important;*/
}

.ant-select-selector {
  border-radius: 4px !important;
  /*border-left: 5px solid #1677ff !important;*/
}

.ant-picker.css-dev-only-do-not-override-dkbvqv {
  /*border-left: 5px solid #1677ff !important;*/
}

.ant-form-item .ant-form-item-explain-error {
  font-size: 12px;
}

.ant-input-affix-wrapper {
  padding: 0 11px 0 0;
}

.ant-select.ant-select-in-form-item {
  width: 100%;
  height: 100%;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
  border-left: 5px solid #ff4d4f !important;
}

.ant-input-affix-wrapper-status-error.ant-input-affix-wrapper > input {
  border-left: 5px solid #ff4d4f !important;
}

.ant-picker.ant-picker-status-error.css-dev-only-do-not-override-dkbvqv {
  border-left: 5px solid #ff4d4f !important;
}

.ant-select.ant-select-in-form-item.ant-select-status-error > .ant-select-selector {
  border-left: 5px solid #ff4d4f !important;
}