@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  background-color: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: linear-gradient(135deg, #5FA4E6 25%, #665DCD 40%);
}

.ant-input {
  border-radius: 4px !important;
  border-left: 5px solid #1677ff !important;
}

.ant-select-selector {
  border-radius: 4px !important;
  border-left: 5px solid #1677ff !important;
}

.ant-picker.css-dev-only-do-not-override-dkbvqv {
  border-left: 5px solid #1677ff !important;
}

.ant-form-item-control-input {

}

.ant-input-affix-wrapper {
  padding: 0 11px 0 0;
}

.ant-select.ant-select-in-form-item {
  width: 100%;
  height: 100%;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
  border-left: 5px solid #ff4d4f !important;
}

.ant-input-affix-wrapper-status-error.ant-input-affix-wrapper > input {
  border-left: 5px solid #ff4d4f !important;
}

.ant-picker.ant-picker-status-error.css-dev-only-do-not-override-dkbvqv {
  border-left: 5px solid #ff4d4f !important;
}

.ant-select.ant-select-in-form-item.ant-select-status-error > .ant-select-selector {
  border-left: 5px solid #ff4d4f !important;
}



footer.ant-layout-footer {
  color: white;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(135deg, #5FA4E6 30%, #665DCD 100%) !important;
}