.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

//main {
//  .ant-layout {
//    max-width: 80vw;
//    margin: 48px 48px 48px auto;
//  }
//}

.user-data-table {
  max-width: 80vw;
  margin: 48px 48px 48px auto;
}