@import '../common/00-settings/index';

.ant-layout-content {
    line-height: unset !important;
    //min-height: unset !important;
}

.employee-details {
    @include poppins-regular();
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 40px !important;

    &__section {
        @include poppins-regular();
        gap: 40px;

        &-sidebar {
            min-width: 250px;
        }

        .ant-card.ant-card-bordered {
            width: 100%;
        }

        .previous-experience-detail {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .permanent-address {
            display: flex;
            flex-direction: column;
            justify-content: space-around !important;
        }

        .detail-card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            span {
                padding: 5px;
            }
        }

        .logo {
            width: 24px;
            height: 24px
        }

        .details {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .detail-column {
                display: flex;
                flex-direction: column;
            }

            span {
                padding: 10px;
            }
        }

        .root-page-header {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 40px;
        }

        .employee-image {
            width: 200px;
            height: 220px;
        }

        .family-detail {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .family-detail-box {
                border: 1px;
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__avatar.ant-avatar-icon {
        width: 180px;
        height: 180px;
        font-size: 75px;
        background-color: rgb(253, 227, 207);
        color: $hrms-black-30;
    }

    &__header {
        gap: 60px;

        > .ant-flex {
            flex: 1 1 0;
        }

        .employee-name {
            @include playfair-display-xl;
            margin-bottom: 10px;
        }

        .employee-contacts {
            gap: 60px;

            span.anticon {
                margin-right: 8px;
            }

            .contact-box {

            }
        }

        .employee-job-details {
            gap: 80px;

            &__title {
                @include poppins-regular;
                color: $hrms-gray-60;
                font-weight: $hrms-font-weight-600;
                margin-bottom: 8px;
            }
        }
    }

    &__tabs.ant-tabs {
        .ant-tabs-nav {
            min-width: 250px;
        }

        .ant-tabs-tab {
            @include poppins-regular();
            padding: 16px 0 16px 24px;

            //&:hover {
            //    background-color: $hrms-cards-bg-60;
            //}

            &-active {
                background-color: $hrms-cards-bg-60;
            }
        }

        .ant-tabs-tab-icon {
            margin-right: unset !important;
        }

        .ant-tabs-nav-operations {
            display: none !important;
        }
    }

    &__tabs-card {
        > .ant-card-body {
            padding: 0;
        }

        .ant-tabs-content-holder {
            padding: 24px 0;
        }
    }

    .ant-space-item:first-child {
        width: unset;
    }

    .sections {
        margin: 0;
        padding: 0;
        text-align: left;

        .personal-display {
            display: flex !important;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            margin-top: 20px;
        }
    }

    .about {
        background-color: #edf0f0;
        display: flex;
        justify-content: left;
        gap: 20px;

        .fixed-box {
            width: 360px;
            border: 2px ridge;
            border-radius: 10px;
            min-height: 300px;
            background-color: #f8ffff;
            margin: 10px 0;
        }
    }

    .location-logo {
        height: 14px;
        width: 14px;
    }
}