.outer-section-forgotten-passsword{
    display: flex;
    flex-direction: row;
}

.forgotten-passowrd-container{
    display: flex !important;
    justify-content: center !important;
    max-width: 1220px !important;
    width: 100% !important;
    margin: 100px auto !important;
}

.forget-password {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    background-image: linear-gradient(to right, skyblue,#ECA5D8);

    &-section {
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        border-radius: 16px;
        overflow: hidden;
        background: white;
        padding: 32px;
        //min-height: 40vh;
    }

    &-title {
        text-align: left;

        .hrms-logo {
            height: 36px;
            width: 36px;
        }

        .heading {
            font-size: 24px;
            margin-top: 8px;
        }
    }

    &-credentials {
        display: flex;
        gap: 80px;

        .ant-row {
            //align-items: center;
            gap: 24px;
            justify-content: space-between;
        }

        .ant-steps.ant-steps-vertical {
            width: fit-content;

            .ant-steps-item{
                height: unset;
                max-height: unset;
                min-height: 60px;

                &:last-child{
                    height: unset;
                    max-height: unset;
                    min-height: unset;
                }
            }
        }

        .ant-form-item label {
            width: fit-content;
        }
    }

    &-button {
        max-width: 250px;
        margin-left: auto;
        text-align: left;
    }

    &-input {
        .ant-input {
            &[type="password"], &[type="text"] {
                padding: 4px 11px;
            }
        }
    }

    .ant-form-horizontal .ant-form-item-control {
        max-width: 250px;
        width: 250px;
    }
}