.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    background-image: linear-gradient(to right, skyblue,#ECA5D8);

    .loginPage{
        //position: absolute;
        //top: 10vh;
        //left: 10vw;
        //right: 10vw;

        max-width: 1440px;
        width: 1024px;

        .hrms-logo {
            height: 36px;
            width: 36px;
        }
    }

    &-title-text {
        margin-top: 16px;
    }

    &-title-heading {
        font-size: 42px;
    }

    &-credentials{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 16px;

        > div {
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 5px;

            input{
                background-color: #1677ff1a;
            }
        }

        .ant-input-status-error {
            &[name="username"] {
                background-color: #ff4d4f1a;
            }
        }

        .ant-input-affix-wrapper {
            background-color: #1677ff1a;

            &-status-error {
                background-color: #ff4d4f1a;
            }

            input{
                background-color: unset;
                padding: 4px 11px;
            }
        }

        .ant-col-offset-8 {
            margin-inline-start: unset !important;
        }
    }

    .login-button{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 16px;
    }
}

.loginPageDetail{
    display:flex;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    background: white;
    //border: 1px solid blue;
}

.right{
    position:relative;
    width:50%;

    .girl-cactus{
        //position: absolute;
        //right: 0;
        width: 60%;
        margin-left: auto;
        //background: #c0dbea;
        background-color: #1677ff33;
        height: 100%;
        border-radius: 24px;
    }

    .girl{
        position: absolute;
        right: 35%;
        bottom: 0;
        //right: 20px;
        //top: 85px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 320px;
        height: 400px;
        z-index: 2;
        //border: 0.5px solid black;
    }

    .cactus{
        position: absolute;
        right: 28%;
        bottom: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 140px;
        height: 320px;
        z-index: 1;
        //border: 0.5px solid black;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .girl {
            width: 230px;
            height: 350px;
        }

        .cactus {
            width: 120px;
            height: 250px;
            right: 23%;
        }
    }
}

.left{
    width:50%;
}

.login-here{
    padding: 48px 0 48px 48px;
   //margin: 35px 120px 0 80px;

    &-detail{
        text-align: left;
    }
}

.link-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    //margin: 16px 0 0 0;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    max-width: 80%;

    button{
        width: 100px;
        height: 40px;
        border-radius: 50px;
        color:white;
        font-weight: 600;
        border:none;
        background: #e2a7bd;
        cursor:pointer;
    }
}

.all-link{
    display: flex;
    gap: 16px 24px;
    flex-wrap: wrap;
    //max-width: 80%;
    justify-content: center;

    button{
        background: white;
        border: 2px solid #b2ccdb;

        &:nth-child(2){
            img{
                width:23px;

            }
        }

        &:nth-child(3){
            img{
                width:22px;

            }
        }

        &:nth-child(4){
            img{
                width:23px;

            }
        }

        &:nth-child(5){
            img{
                width:22px;
            }
        }
    }
}

.account{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color:#e2a7bd;
    font-weight: 900;
}

