.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    background-image: linear-gradient(to right, skyblue,#ECA5D8);

    .loginPage{
        //position: absolute;
        //top: 10vh;
        //left: 10vw;
        //right: 10vw;

        max-width: 1440px;
        width: 1024px;

        .hrms-logo {
            height: 36px;
            width: 36px;
        }
    }

    &-title-text {
        margin-top: 16px;
    }

    &-title-heading {
        font-size: 42px;
    }

    &-credentials{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 16px;

        input{
            background-color: #1677ff1a;
        }

        .ant-input-status-error {
            &[type="text"] {
                background-color: #ff4d4f1a;
            }
        }

        .ant-input-affix-wrapper {
            background-color: #1677ff1a;

            &-status-error {
                background-color: #ff4d4f1a;
            }

            input{
                background-color: unset;
                padding: 4px 11px;
            }
        }

        .ant-col-offset-8 {
            margin-inline-start: unset !important;
        }
    }

    .login-button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 16px;

        button[type="submit"], button[type="button"] {
            height: unset;
            padding: 5px 30px;
            background-color: #ff88be;
            border: unset;
            border-radius: 24px;
            color: white;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background-color: #ff6cae;
                transition: all 200ms ease-in-out;
            }
        }
    }

    .social-icons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-right: auto;

        p {
            font-size: 12px;
            color: #6c757d;
        }

        &__buttons {
            display: flex;
            gap: 16px 24px;
            flex-wrap: wrap;
            justify-content: center;

            //button{
            //    background: white;
            //    border: 2px solid #b2ccdb;
            //
            //    &:nth-child(2){
            //        img{
            //            width:23px;
            //        }
            //    }
            //
            //    &:nth-child(3){
            //        img{
            //            width:22px;
            //        }
            //    }
            //
            //    &:nth-child(4){
            //        img{
            //            width:23px;
            //        }
            //    }
            //
            //    &:nth-child(5){
            //        img{
            //            width:22px;
            //        }
            //    }
            //}

            button {
                border: 1px solid #c0dbea;
                background-color: unset;
                padding: 4px 24px;
                border-radius: 24px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                width: 60%;
                //height: 50%;
            }
        }
    }
}

.loginPageDetail{
    display:flex;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    background: white;
    //border: 1px solid blue;
}

.right{
    position:relative;
    width:50%;

    .right-section-bg{
        //position: absolute;
        //right: 0;
        width: 60%;
        margin-left: auto;
        //background: #c0dbea;
        background-color: #1677ff33;
        height: 100%;
        border-radius: 24px;
    }

    .girl{
        position: absolute;
        right: 35%;
        bottom: 0;
        //right: 20px;
        //top: 85px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 320px;
        height: 400px;
        z-index: 2;
        //border: 0.5px solid black;
    }

    .cactus{
        position: absolute;
        right: 28%;
        bottom: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 140px;
        height: 320px;
        z-index: 1;
        //border: 0.5px solid black;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .girl {
            width: 230px;
            height: 350px;
        }

        .cactus {
            width: 120px;
            height: 250px;
            right: 23%;
        }
    }
}

.left{
    width:50%;
}

.login-here{
    padding: 40px 0 40px 40px;

    &-detail{
        text-align: left;
    }
}



.account{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color:#e2a7bd;
    font-weight: 900;
}

