.employee-create {
  &-section {
    .forms-steps{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1150px;
      width: 100%;
      margin: 16px auto 0;
      gap: 90px;

      .ant-steps.employee-create-steps  {
          max-width: 20%;
      }
    }

    // Employee create Form Add Items card
    .ant-card-bordered {
      border: 1px solid #1677ff ;

      .ant-card-head {
        border-bottom: 1px solid #1677ff;
        background-color: #1677ff1a;
      }
    }

    .dateOfBirth_help {
      >.ant-form-item-explain-error {
        margin-left: 65px !important;
      }
    }
  }

  &-form {
    width: 70%;
    height: 550px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px !important;
    margin-right: 80px;
    margin-top: unset !important;
  }

  &-steps {

  }
}

input{
  height: 40px;
}

.ant-select-selector{
  height: 40px !important;
  text-align: left;
}

.ant-picker{
  height: 40px;
}

label{
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #A6A490 !important;
  width: 200px;
  text-align: left;
}

.ant-space-item:first-child{
  width: 200px;
}

.Experience{
  &_detail{
    text-align: left;
    width: 100%;
  }
}

.ant-steps-vertical .ant-steps-item{
  height: 80px;
  max-height: 80px;
  min-height: 80px;

  //&:last-child{
  //  height: 0;
  //  max-height: 0;
  //  min-height: 0;
  //}
}

.ant-form-item-explain-error{
  text-align: left;
}

.ant-upload-wrapper{
  display:flex;
  gap: 45px;
}

.ant-form-item-control-input-content{
  display: flex;
}

.uploadDocument{
  display:flex;
  gap:62px;

  label{
    width: 174px;
    display: block;
  }
}