.events-section {
  //.app-styled {
  //  background-image: linear-gradient(15deg, #1a1a1a, #22262E);
  //  color: var(--color-text);
  //  display: flex;
  //  min-height: 100vh;
  //}

  .section-styled {
    //margin: auto;
    //padding: 1rem;

    //@media (min-width: 48em) {
    //  padding: 4rem;
    //}

    .date-styled {
      margin-bottom: 2rem;

      .counter-heading {
        color: #798EB0;
        font-family: "Poppins", SansSerif;
        //font-size: clamp(1rem, 2vw, 99rem);
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 0.1875em;
        margin: unset;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .wrapper-styled {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;

      @media (min-width: 35.5em) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 0 2rem;
      }
    }

    .counter-styled {
      background: linear-gradient(15deg, #1a1a1a, #22262E);
      //background: rgba(255, 255, 255, 0.025);
      border-radius: 1rem;
      color: #8973FD;
      display: flex;
      flex-direction: column;
      font-family: "JetBrains Mono", mono;
      //font-size: clamp(1rem, 8vw, 99rem);
      font-size: 65px;
      font-weight: 100;
      line-height: 1;
      padding: 2vw;
      text-align: center;

      h2 {
        color: #798EB0;
        font-family: "Poppins", SansSerif;
        //font-size: clamp(1rem, 2vw, 99rem);
        font-size: 20px;
        font-weight: 300;
        letter-spacing: .1875em;
        margin: 1.25rem 0 0;
        order: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}