.user-login-avatar {
  background: white;
  padding: 5px 5px 8px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.user-login-card {

  &.ant-card {
    .ant-card-meta-title {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .ant-card-body {
    padding: 16px;
  }

  .user-card-mail {
    font-size: 16px;
    font-weight: 500;
    color: #000000cc;
    margin-bottom: 8px;
  }

  .user-card-role {
    padding: 1px 12px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid;
  }

  .logout-button {
    width: 100%;
    text-align: center;
    margin-top: 36px;

    > button {
      height: unset;
      padding: 4px 16px;
      border: unset;
      border-radius: 24px;
      color: white;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      background-color: #ff88be;

      &:hover {
        background-color: #ff6cae !important;
        transition: all 250ms ease-in-out;
      }
    }
  }
}

