.navigation-menu {
  background: #1077DA !important;
  z-index: 100;

  &.ant-menu {
    font-size: 16px;
    //display: flex;
    //flex: 0 0 70%;
    //gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 75px;

    &.ant-menu-light {
      max-width: fit-content;
      background: unset;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      gap: 16px;

      &.ant-menu-horizontal {
        >.ant-menu-submenu {
          &:hover::after,
          &.ant-menu-submenu-open::after,
          &.ant-menu-submenu-active::after,
          &-selected::after {
            border-bottom-width: 3px;
            border-bottom-color: white;
            border-radius: 2px;
          }

          &-selected >.ant-menu-submenu-title {
            color: #ffffff;
          }
        }

        .ant-menu-submenu {
          margin-inline: 10px;
        }
      }
    }

    &.navigation-menu {
      .ant-menu-submenu {
        .ant-menu-submenu-title {
          color: #ffffff;
        }

        //&-open, &-active, &-selected, {
        //  .ant-menu-submenu-title {
        //    color: #ffffff;
        //  }
        //}
      }
    }
  }
}