@import '../../styles/common/00-settings/index.scss';
@import '../../styles/common/01-generic/index.scss';
@import '../../styles/common/02-component/index.scss';


.hrms-layout {
  display: flex;
  flex-direction: row;

  .main-section {
    min-height: 90vh;
    height: 100%;
  }

  .scroll-to-top {
    background-color: $hrms-green-50;
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    //box-shadow: 0 2px 15px 0 $hrms-gray-40;
    transition: all 0.3s ease-out;
    z-index: 5;

    .progress-value {
      height: calc(100% - 12px);
      width: calc(100% - 12px);
      background-color: $hrms-white;
      border-radius: 50%;
      display: grid;
      place-items: center;
      font-size: 35px;
      color: $hrms-black-10;
    }

    &:hover {
      transform: translateY(-7px);
    }
  }

  &__content{
    width: 100%;
    height: 100%;
    padding-left: 140px;
  }
}