.hrms-layout {
  //.main-section {
  //  background: #FBFBFD;
  //}

  footer.footer-section {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background: #1077DA !important;
  }
}