.user-create-section {
  max-width: 85vw;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-create-form {

  }

  .user-create-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 8px;
  }

  .ant-page-header {
    padding: unset;
  }

  //.ant-select.ant-select-in-form-item {
  //  width: 100%;
  //  height: 100%;
  //
  //  &.ant-select-status-error {
  //    > .ant-select-selector {
  //      border-left: 5px solid #ff4d4f !important;
  //    }
  //  }
  //}
}

