.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.user-data-table {
  .ant-table-content {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  thead.ant-table-thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.ant-dropdown {
  .ant-table-filter-dropdown {
    .ant-dropdown-menu {
      max-height: unset;
      overflow: unset;
    }

    label.ant-checkbox-wrapper {
      width: 75px;
    }
  }
}


::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  //background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  //background-color: #FFF;
  background-image: linear-gradient(180deg, #665DCD 10%, #5FA4E6 100%);
}