.user-create-section {
  //max-width: 85vw;
  //margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-create-form {

  }

  .data-table {
    margin: 32px;
    padding: 40px;
  }

  .user-create-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 8px;
  }

  .ant-form-item {
    .ant-row {
      align-items: center;
    }

    .ant-form-item-control-input-content {
      justify-content: center;
    }

    button[type="submit"] {
      margin-top: 16px;
    }
  }

  .ant-page-header {
    padding: unset;
  }

  input.ant-input {
    &[type="password"], &[type="text"] {
      padding: 4px 11px !important;
    }
  }

  //.ant-select.ant-select-in-form-item {
  //  width: 100%;
  //  height: 100%;
  //
  //  &.ant-select-status-error {
  //    > .ant-select-selector {
  //      border-left: 5px solid #ff4d4f !important;
  //    }
  //  }
  //}
}

