$button: linear-gradient(135deg, #5FA4E6 25%, #665DCD 40%);

header {
  //display: flex;
  flex-direction: row;
  justify-content: space-between;

  //img {
  //  width: 64px;
  //  height: 64px;
  //}

  &.ant-layout-header {
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 0 50px 0 80px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%) !important;

    .ant-row {
      .ant-col:last-child {
        display: flex;
        align-items: center;
      }
    }
  }

  .ant-row {
    justify-content: space-between;
    height: 100%;
  }

  .ant-col.css-dev-only-do-not-override-dkbvqv {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .login-button {
    color: white;
    background: transparent;
    border-radius: 4px;
    border-width: 2px;
    height: unset;
    padding: 4px 24px;

    &:hover {
      color: white !important;
      border: 2px solid #665DCD !important;
      box-shadow: 0 0 10px 3px #665dcd40;
    }
  }
}