$button: linear-gradient(135deg, #5FA4E6 25%, #665DCD 40%);

header {

  .header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }

  &.ant-layout-header {
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 0 60px;
    background: #1077DA !important;

    .ant-row {
      .ant-col:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  .ant-row {
    justify-content: space-between;
    height: 100%;
  }

  .ant-col.css-dev-only-do-not-override-dkbvqv {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .login-button {
    color: white;
    background: transparent;
    border-radius: 4px;
    border-width: 2px;
    height: unset;
    padding: 4px 24px;
    transition: transform ease-out 0.3s;

    &:hover {
      transform: translate(0, -2px);
    }

    &:hover {
      color: white !important;
      border: 2px solid #d9d9d9 !important;
    }
  }
}