.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.user-data-table {
  .ant-table-content {
    max-height: 380px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  thead.ant-table-thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.ant-dropdown {
  .ant-table-filter-dropdown {
    .ant-dropdown-menu {
      max-height: unset;
      overflow: unset;
    }

    label.ant-checkbox-wrapper {
      width: 75px;
    }
  }
}