@import "../../common/00-settings/index";

.user-create-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .data-table {
    //margin: 32px;
    //padding: 40px;
  }

  .user-create-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 8px;
  }

  .ant-form-item {
    .ant-form-item-label >label {
      height: 40px;
    }

    .ant-form-item-control-input-content {
      justify-content: center;
    }

    button[type="submit"] {
      margin-top: 16px;
    }
  }

  .ant-page-header {
    padding: unset;
  }

  input.ant-input {
    &[type="password"], &[type="text"] {
      padding: 4px 11px !important;
    }
  }
  .ant-select-selector{
    height: 40px;
  }
}

