@import "../../common/00-settings/index";

.user-create-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  .data-table {
    //margin: 32px;
    //padding: 40px;
    width: unset;
  }

  .user-create-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 2px;
    margin-left: 10px;

    .ant-form-item-control-input{
      border-radius: 0px;
    }
  }


  .ant-form-item {
    .ant-form-item-label >label {
      height: 40px;
    }

    .ant-form-item-control-input-content {
      justify-content: center;
    }

    button[type="submit"] {
      margin-top: -6px;
    }
  }

  .ant-page-header {
    padding: unset;
  }

  input.ant-input {
    &[type="password"], &[type="text"] {
      padding: 4px 11px !important;
    }
  }
  .ant-select-selector{
    height: 40px;
  }
}
.data-table {
  //margin: 32px;
  //padding: 40px;
  width: 100%;
}
.ant-modal .ant-modal-content{
  padding: 30px 20px;
  border-radius: 0px;

}
.ant-modal-content .ant-modal-close{
  top: 15px;
}
.ant-form-item-control-input{
  width:300px
}
