.user-detail-card {
  .gutter-row {
    .user-card {
      border: unset;
      cursor: pointer;
      transition: all 250ms ease-in-out;
    }

    .small-user-card {
      //border: unset;
      //cursor: pointer;
      //transition: all 250ms ease-in-out;
      width: unset !important;
      //background-color: #4cd964;
    }

    .admin {
      background: linear-gradient(45deg, rgba(#09AFE8,0.5) 0%, rgba(#29F499,0.8) 100%);

      &:hover {
        box-shadow: 0 5px 20px rgba(#29F499, 0.5);
      }
    }

    .hr-user {
      background: linear-gradient(45deg, rgba(#6D80FE,0.5) 0%, rgba(#23D2FD,0.8) 100%);

      &:hover {
        box-shadow: 0 5px 20px rgba(#23D2FD, 0.5);
      }
    }

    .employee {
      background: linear-gradient(45deg, rgba(#707CFF,0.5) 0%, rgba(#FA81E8,0.8) 100%);

      &:hover {
        box-shadow: 0 5px 20px rgba(#FA81E8, 0.5);
      }
    }
  }

  .ant-card {
    .ant-card-head-title {
      font-size: 24px;
      font-weight: 600;
      color: white;
    }

    .ant-card-body {
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .user-count {
      position: relative;
      font-size: 40px;
      font-weight: 700;
      color: white;
    }
  }

  .events-section {
    margin-top: 60px;
  }
}

.small-user-card {
  border: 1px solid rgba(0, 0, 0, 0.18);
  //border: unset;
  //cursor: pointer;
  transition: all 250ms ease-in-out;
  width: 150px;
  //background-color: #4cd964;
}